*{
  box-sizing: border-box;
  /* border: 1px solid red; */
}
html{
  font-size: 62.5%;
}

body{
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color:#555;
}

/* Helper class */

.margin-right-small{
margin-right: 1.6rem;
}

/* Main styles */


.header{
  display: flex;
  justify-content: space-between;
  background-color: #fdf2e9;
  padding : 2.4rem 4.2rem;
}

.logo{
  height: 2.4rem;
}
.main-nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-links:link, .main-nav-links:visited{
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #555;
  transition: color 0.3s;
}

.main-nav-links:hover, .main-nav-links:active{
 color: #cf711f;
}


.main-nav-links.nav-cta:link, .main-nav-links.nav-cta:visited{
  background-color: #e67e22;
  padding: 1.2rem 3.6rem;
  border-radius: 5px;
  color: #fff;
}
.main-nav-links.nav-cta:hover, .main-nav-links.nav-cta:active{
  color: #fff;
  background-color: #cf711f;
}
.section-hero{
  background-color: #fdf2e9;;
  padding: 2.4rem 0 9.6rem 0;

  /* choose big spacing between section */
}
.hero{
  max-width: 130rem;
  margin : 0 auto;
  display:grid;
  gap: 9.6rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.hero-img{
  width: 100%;
}

.heading-primary{
  font-size: 5.2rem;;
  letter-spacing: -1.5px;
}
.hero-description{
  font-size: 2rem;
  line-height: 1.5;
}

.btn:link, .btn:visited{
display: inline-block;
text-decoration: none;;
color:white;
border-radius: 5px;
 font-size: 2rem;
padding: 1.6rem 3.2rem;
transition: background-color 0.3s;

}

/* // we need to make
 inline block, 
 because this is an 
 block elelment, 
 and to make padding
 work as expected */

 .btn--full:link, .btn--full:visited{
  background-color: #e67e22;

 }

 .btn--full:hover, .btn--full:active{
    background-color: #cf711f;
 }

 .btn--outline:link, .btn--outline:visited{
  background-color: #fff;
  color:#555;
 }

 .btn--outline:hover, .btn--outline:active{
  background-color: #fdf2e9;
  color:#555;
  box-shadow: inset 0 0 0 3px #fff;
 }